.navbar {
    display: flex;
    background-color: #f2f2f2;
    color: white;
    height: 7vh;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    margin: 0;
}

.navbar_logo {
    padding-left: 1%;
    object-fit: contain;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}